body {
  color: #666666;

}

p {
  line-height: 1.5;
}

/* header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 3em;
}

.splash-container {
  margin-top: 2em;
}

/* ul */

ul.dot-list {
  margin: 1em 1.5em;

}

ul.dot-list > li {
  list-style: disc inside;
  line-height: 1.5em;
}

h2.row-head {
  font-size: 1.5em;
  margin: 1.2em 0;
  padding: 1em 0;
  text-align: center;
  color: white;
  background-color: #34495e;
}

/* creed */

.creed h3 {
  font-size: 1.3em;
  margin: 1.2em 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.7em 0;
  text-align: center;
  color: white;
  background-color: #34495e;
}

.creed p, .creed ul {
  margin: 1em 2em 1em;
}

/*
 * -- REFERENCE LINKS --
 */
ul.reference-links > li {
  margin: 1.5em 0;
  list-style: none;
  line-height: 1.5em;
  text-align: center;
}

ul.reference-links li a {
  color: white;
  background-color: #34495e;

  text-decoration: none;
  border-radius: .6em / .6em;
  margin: 1em;
  padding: .8em;
}

.saying-quote {
  border: .4em solid #34495e;
  border-radius: 1em / 1em;
  margin: 1em;
  padding: .8em;
}

.saying-quote blockquote {
  line-height: 1.5em;
}

.saying-quote .saying-source {
  text-align: right;
  margin-top: 1em;
}

.saying-quote .saying-source a {
  color: white;
  background-color: #34495e;

  text-decoration: none;
  border-radius: .6em / .6em;
  margin: 1em;
  padding: .8em;
}

.ribbon a {
  color: #34495e;
  background-color: white;
}

p {
  text-indent: 1em;
  line-height: 2em;
}

/* This is the class used for the footer */
.footer {
  height: 68px;
}

/*
 * -- SOCIAL BUTTONS --
 */
.social-buttons {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;

  padding: 2px;
  margin: 0;

  overflow: hidden;
  z-index: 2;

  text-align: center;
  background: #111;
}

.social-buttons li {
  float: center;
  display: inline-block;
}

.social-button-facebook {
  padding-right: 6px;
}
